<%- include('../partials/header') %>

<h1>This is the main list of airlines page</h1>
<p><a href="/airline/new">Click here</a> to schedule a flight</p>

<h3>This is a list of current flights</h3>
<ul>
    <% list.forEach(flight => {%>
        <li><span class="num">Flight Number: <%= flight.flightNum %> </span>
            - 
            <span class="title">Airline: <%= flight.title %></span>
            - 
           <span class="date">Flight Departure Date: <%= flight.departDate %></span>
        </li>
    <% }) %>
    </ul>


<%- include('../partials/footer') %>

