<%- include('../partials/header') %>

<h1>FLIGHTS</h1>

<p><a href="/airline/new">Click here</a> to schedule a flight</p>

<h3>List of current flights</h3>
<ul>
    <% list.forEach(flight => {%>
        <li>
            <span class="port">Airport: <%= flight.airport %> </span>
            - 
            <span class="line">Airline: <%= flight.title %></span>
        </li>
        <li class="space">
            <span class="depart">Departure Date: <%= flight.departDate %></span>
             - 
            <span class="flightNum">Flight Number: <%= flight.flightNum %> </span>
            <form id="form" action="/airline/<%= flight._id %>" method="get">
                <input type="submit" name="" value="Details" class="button">
            </form>
        </li>
    <% }) %>
    </ul>


<%- include('../partials/footer') %>

