<%- include('../partials/header') %>
<p>Please first ensure that the Ticket Number is not in the dropdown
        <select>
        <% ticket.forEach(function(t) { %>
        <option><%= t.seat %></option>
        <% }) %>
        </select>
        </p>
<form action="/airline/ticket" method="POST">
    <label>Ticket Prices: $ <%= ticket.price %></label>
    <input name="seat" required pattern="[A-F][1-30]\d?" placeholder="Rows:A-F Seats:1-30"/>
    <input type="submit" value="Add ticket to Flight No.<%=ticket.flightNum %>">
</form>

<p class="new-ticket"><a href="/airline">Click here</a> go back to the list.</p>

<%- include('../partials/footer') %>